<h4>Utilitario</h4>
<hr>
<!-- <div [hidden]="submitted"> -->
<form [formGroup]="formulario" (ngSubmit)="onSubmit();">


  <div class="form-group row">
    <label class="col-2 col-form-label">Tipo Usuario</label>
    <div class="col-md-4">
    <select 
      class="form-control" id="usuario" formControlName="usuario"  >
    <option  disabled selected [ngValue]="null">Seleccione un tipo de usuario</option>
    <option *ngFor="let usuario of usuarios"
    [value]="usuario.valor">{{usuario.descripcion}}</option>
    </select>
    </div>
  </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Tipo Operaciones</label>
      <div class="col-md-4">
      <select class="form-control" id="tipoOperacion" formControlName="tipoOperacion" >
      <option  disabled selected [ngValue]="null" >Seleccione un tipo de operacion</option>
      <option *ngFor="let tipoOperacion of tipoOperaciones"
      [value]="tipoOperacion.codigo">{{tipoOperacion.descripcion}}</option>
      </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="showNumTarjeta">
      <label class="col-2 col-form-label">Numero Tarjeta</label>
      <div class="col-4">
      <input type="text" class="form-control"  id="numTarjeta" formControlName="numTarjeta">
    </div>
    </div>

   
    <div class="form-group row" *ngIf="showCodigoUsuario" > 
        <label class="col-2 col-form-label">Código Usuario</label>
        <div class="col-4">
        <input type="text" class="form-control"  id="codigoUsuario" formControlName="codigoUsuario">
      </div>
    </div>


  



    <div class="form-group row" *ngIf="showNumCel">
      <label class="col-2 col-form-label">Celular</label>
      <div class="col-4">
      <input type="text" class="form-control" required maxlength="9"  id="numCelular"  formControlName="numCelular" >
    </div>
    </div>


    <div class="form-group row" *ngIf="showOperador">
      <label class="col-2 col-form-label">Operador</label>
      <div class="col-md-4">
      <select 
              class="form-control" id="operador" formControlName="operador" >
      <option value="">Seleccione un operador</option>
      <option *ngFor="let operador of operadores"
      [value]="operador.valor">{{operador.nombre}}</option>
      </select>
      </div>
    </div>

     <!-- <pre>{{ formulario.value  | json}}</pre>  -->
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">
            <!-- <button (click)="showError(submitted)"> -->
          Enviar
        </button>
      </div>
    </div>
    <!-- <button class="btn btn-default" (click)="resetar()">Reset</button> -->


</form>
<!-- </div> -->
<!-- <div *ngIf="submitted"> -->
  <!-- <h4>Transacción realizada correctamente!</h4> -->
 
<!-- </div> -->